resources/configuration/configuration.dtd

<!--
  ~ configuration.dtd
  ~ Copyright © 1993-2018, The Avail Foundation, LLC.
  ~ All rights reserved.
  -->

<!--
@author Richard Arriaga <rich@availlang.org>
  -->

<!ELEMENT avail (roots,sdks)>
    <!ELEMENT roots (root)*>
    <!ELEMENT sdks (sdk)*>
        <!ELEMENT root (repo,src-dir)>
        <!ELEMENT sdk (repo,src-dir)>
            <!ELEMENT repo (#PCDATA)>
            <!ELEMENT src-dir (#PCDATA)>
